body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: auto;
    background: #fff;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-buttons a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #007bff;
}

.filter-buttons a.active {
    background-color: #007bff;
    color: #fff;
}

.filter-buttons a:hover {
    background-color: #0056b3;
    color: #fff;
}

.task-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-form input {
    width: 80%;
    padding: 10px;
}

.task-form button {
    padding: 10px;
    background: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

.task-form button:hover {
    background: #218838;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task-list li.completed span {
    text-decoration: line-through;
    color: #6c757d;
}

.task-list form {
    margin: 0 5px;
}

.task-list button {
    background:rgb(255, 19, 42);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.task-list button:hover {
    background:rgb(255, 0, 25);
}
